<header>
    <div class="row">
        <div class="headerimg col-12">
            <img src="assets/img/burgerlogocutbkground3.png" width="200" alt="burger logo" />
            <h1>Serving A Burger</h1>
        </div>
    </div>
</header>

<h1>Hello</h1>

<ul>
    {{!-- {{#each burgers }} --}}
    {{burgers.[0].burger_name}}
    {{!-- {{/each}} --}}
</ul>